<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-md-12 table-col">
      <h1>Words</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <div class="form-group form-inline">

        <div class="btn-group" dropdown>
          <button type="button" ng-click="addWord()" class="btn btn-primary">Add Word</button>
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/words/bulkadd" >Bulk Add</a></li>
            <li><a ng-click="exportWords()" >Export Words</a></li>
          </ul>
        </div>

        <input type="text" class="form-control" ng-model="filterText" placeholder="Search...">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3 table-col persian">
      <b>Persian</b>
    </div>

    <div class="col-sm-3 table-col">
      <b>English</b>
    </div>

    <div class="col-sm-3 table-col">
      <b>Phonetic</b>
    </div>

    <div class="col-sm-2 table-col">
      <b>Tags</b>
    </div>

  </div>

  <div class="row table-row" ng-repeat="word in filteredWords  = (words | filter:filterText)">
    <inline-edit data="word"></inline-edit>
  </div>

  <div class="row table-row" ng-show="filteredWords.length == 0 && filterText.length">
    <div class="text-center">
      There are no words that match your query.
    </div>
  </div>

  <div class="row table-row" ng-show="filteredWords.length == 0 && filterText.length == 0">
    <div class="text-center">
      Please add words for them to appear here.
    </div>
  </div>

  <!-- <div class="row" ng-repeat="word in words">
    {{word.english}} | {{word.persian}} | {{word.phonetic}}
  </div> -->

</div>
