$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */


$bucket1: #e51c23;
$bucket2: #ff5722;
$bucket3: #ffc107;
$bucket4: #cddc39;
$bucket5: #259b24;

$hover-background: #ffff99;

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.persian {
  direction: rtl;
}

.inactive {
    border: none;
    background-color: #fff;
}

.row {
  margin-left: -5px;
  margin-right: -5px;
}

.row .table-col {
  padding-left: 5px;
  padding-right: 5px;
}

.table-row {

  border-top: 1px solid #ccc;

  &:hover {
    background-color: $hover-background;

    input {
      background-color: $hover-background;
    }
  }
}

//flip an image horizontally
.icon-flipped {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
}

//prevent line breaks
.no-wrap {
  white-space: nowrap;
}

.progress .progress-bar {
  &:nth-child(1) {background-color: $bucket1;}
  &:nth-child(2) {background-color: $bucket2;}
  &:nth-child(3) {background-color: $bucket3;}
  &:nth-child(4) {background-color: $bucket4;}
  &:nth-child(5) {background-color: $bucket5;}
}


// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'main/main.scss';
@import 'quiz/quiz.scss';
@import 'words/words.scss';
@import 'modal/modal.scss';
// endinjector
