<div>

  <div class="col-sm-3 col-xs-4 table-col persian">
    <input type="text"
      ng-model="view.persian"
      ng-class="{inactive: !view.editorEnabled}"
      ng-disabled="!view.editorEnabled"
      style="width: 100%"/>
  </div>

  <div class="col-sm-3 col-xs-4 table-col">
    <input type="text"
      ng-model="view.english"
      ng-class="{inactive: !view.editorEnabled}"
      ng-disabled="!view.editorEnabled"
      style="width: 100%"/>
  </div>

  <div class="col-sm-3 col-xs-4 table-col">
    <input type="text"
      ng-model="view.phonetic"
      ng-class="{inactive: !view.editorEnabled}"
      ng-disabled="!view.editorEnabled"
      style="width: 100%"/>
  </div>

  <div class="col-sm-2 col-xs-8 table-col">
    <input type="text"
      ng-model="view.tags"
      ng-class="{inactive: !view.editorEnabled}"
      ng-disabled="!view.editorEnabled"
      style="width: 100%"/>
  </div>

  <div class="col-sm-1 col-xs-4 table-col">

    <div ng-hide="view.editorEnabled">
      <span class="no-wrap">

        <button class="btn btn-xs btn-primary"
          ng-hide="view.editorEnabled" ng-click="enableEditor()">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>

        <button class="btn btn-xs btn-danger"
          ng-click="deleteWord(word.english + ' / ' + word.persian, word)">
          <span class="glyphicon glyphicon-remove"></span>
        </button>

      </span>
    </div>

    <div ng-show="view.editorEnabled">
      <span class="no-wrap">

        <button class="btn btn-xs btn-success" ng-click="save()">
          <span class="glyphicon glyphicon-ok"></span>
        </button>

        <button class="btn btn-xs btn-warning" ng-click="disableEditor()">
          <span class="glyphicon glyphicon-share-alt .icon-flipped"></span>
        </button>
      </span>
    </div>
  </div>
</div>
